page-login {
float: left;
background-color: white;
}
.final{
  color:white;
}
.pawiconcontainer{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.buttn{
  position: relative;
  right: 0%;
}
