<ion-header class="header">
  <div>
    <button ion-button item-start large block
            icon-only
            (click)="goBack()">
            <ion-icon name="arrow-back" class="iconmenu"></ion-icon>
            &nbsp;!Guau Que Animales¡
            <ion-icon name="paw"></ion-icon>
    </button>
  </div>
</ion-header>

<ion-content class="header">

<ion-list>
  <ion-item-sliding #slidingItem class="segm" *ngFor="let perro of _ps.perros" class="sliders">

    <ion-item #item *ngIf="checkLink(perro)" class="sliders">
      <ion-avatar item-start>
        <img id="imageid" crossOrigin="Anonymous" src="http://127.0.0.1:8000/imagen?animal_id={{perro.id}}">
      </ion-avatar>
      <h2>{{perro.name}}</h2>
      <ion-icon name="more" item-end (click)="openOption(slidingItem, item)"></ion-icon>
    </ion-item>

    <ion-item-options side="right"(click)="closeOption()">
      <button ion-button
              (click)="editar(perro)">EDITAR</button>
      <button ion-button color="danger"
              (click)="share()">COMPARTIR</button>
              <button ion-button
              (click)="onDelete(perro)">ELIMINAR</button>
    </ion-item-options>

  </ion-item-sliding>

</ion-list>
</ion-content>
