page-vista {

  .cards{
      background-color: purple;
      color: white;
  }
  .dropdb{
      position: relative;
      text-align: center;
      background-color: purple;
      color: white;
  }
  .imgp{
    height: 100%;
    width: auto;
  }
  .botones{
    position: relative;
    text-align: center;
    right: 0;
    left: auto;
    background-color: purple;
  }
  
}
