.contenido{
  font-style: oblique;
  color:purple;
}
.contenido-card{
  background-color: purple;
  font-style: oblique;
}
.blanco{
  color: white;
}
.panel{
  font-style: italic;
  font-weight: bold;
}
.header{
  background-color: purple;
  color:white;
}
.iconmenu{
  position: absolute;
  top:30%;
  left:0;
}
