.contenido{
  font-style: oblique;
  color:primary;
  background-color: yellow;
}
.contenido-card{
  background-color: yellow;
  font-style: italic;
  color: black;
}
.blanco{
  font-style: italic;
  color: black;
}
.panel{
  font-style: italic;
  font-weight: bold;
}
.header{
  background-color:  orange;
  color:orange;
}
.iconmenu{
  position: absolute;
  top:30%;
  left:0;
}
.submenu{
padding-left: 10%;
}
