
<ion-content class="header">
  <ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

  <ion-card *ngFor="let perro of _ps.perros" >
    <ion-item *ngIf="perro.state == 'Adopcion'" class="contenido">
      <img src="http://127.0.0.1:8000/imagen?animal_id={{perro.id}}"(click)="vista (perro)"/>

    <ion-card-content class="contenido-card">

      <ion-card-title class="blanco">
        {{perro.name}} ({{perro.race}})
        </ion-card-title>

        Edad:&nbsp;{{perro.age}}<br>
        <button class="dropst"
                ion-button small
                (click)="showStory()">
                Historia <ion-icon name="arrow-down"></ion-icon>
        </button>
        <button class="dropst"
                ion-button small
                (click)="sendEmail()">
                Reportar
        </button>

        <div *ngIf="story">
        {{perro.description}}
        </div>

    </ion-card-content>

</ion-item>
