<ion-header class="header">
 <button ion-button icon-left large block
          icon-only
          (click)=goBack()>
          <ion-icon name="arrow-back" class="iconmenu"></ion-icon>
          &nbsp;!Guau Que Animales
          <ion-icon name="paw"></ion-icon>
  </button>
</ion-header>
<ion-content>
<div>
  <ion-item>
    <ion-label>Raza</ion-label>
    <ion-select #C okText="Aceptar" cancelText="Cancelar" (ionChange)="updateRace(C.value)">
      <ion-option *ngFor="let race of races" value="{{race}}" [selected]="race == nameRaceSelected">{{race}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
  	<ion-label>Genero</ion-label>
  		<ion-select interface="popover">
        <ion-option value="z" selected>{{perro.genre}}</ion-option>
  			<ion-option value="f">Hembra</ion-option>
  			<ion-option value="m">Macho</ion-option>
        <ion-option value="u">Desconocido</ion-option>
  		</ion-select>
	  </ion-item>
    <ion-item *ngIf="imgPreview">
      <img [src]="imgPreview"/>
    </ion-item>
<ion-list color="black" >
    <form [formGroup]="slideOneForm">
      <button ion-button item-left block
              (click)="seleccionarFoto()">
              <ion-icon name="photos"></ion-icon>
              &nbsp;Seleccionar
        </button>
        <ion-item>
            <ion-label floating>Edad</ion-label>
            <ion-input formControlName="edad" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Pais</ion-label>
            <ion-input formControlName="pais" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Ciudad</ion-label>
            <ion-input formControlName="ciudad" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Poblacion</ion-label>
            <ion-input formControlName="poblacion" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Correo Electrónico</ion-label>
            <ion-input formControlName="correo" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Teléfono de Contacto</ion-label>
            <ion-input formControlName="telefono" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Nombre del perro</ion-label>
            <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Peso</ion-label>
            <ion-input formControlName="weight" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Historia</ion-label>
            <ion-textarea class="txtarea" formControlName="descripcion" type="text"></ion-textarea>
        </ion-item>
    </form>
</ion-list>
